$color-text-default: #333333;
$color-text-little-special: #999999;
$color-text-checked: #F2922F;

$color-list-border: #E9E9E9;

$color-type-style: #540000;

$color-button-default: #5ADAD0;

$color-box-shadow: #EBEBEB;

$color-background-default: #FFFFFF;

$color-border-default: #CCCCCC;

$color-icon-error: #f75e4b;